<div class="container m-4">

  <div class="row">

    <div class="col-4">

      <%= simple_form_for teapot do |f| %>
        <%= f.input :style,
                    label: false,
                    placeholder: "Style" %>
        <%= f.input :description,
                    label: false,
                    placeholder: "Description" %>
        <%= f.input :price_per_day,
                    label: false,
                    placeholder: "Price"
        %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit class:"btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
