<div class="container m-4">

  <h1 class="mb-4">My teapot</h1>

    <%= link_to 'Back', teapots_path, class:"btn btn-secondary mb-4" %>

        <div class="card mb-3 teapot-container" style="width: 400px;">
          <% @teapot.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill, class:"card-img-top border-bottom" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><strong><%= @teapot.style %></strong></h5>
            <p class="card-text"><%= @teapot.description %></p>
            <p class="card-text">Price per day: <%= @teapot.price_per_day.round %> euros</p>
            <p class="card-text"><%= @teapot.user.first_name %> <%= @teapot.user.last_name %></p>
          </div>
          <%= link_to teapot_path(@teapot), class: "text-decoration-none text-black teapot-delete", data: {turbo_method: :delete, turbo_confirm: "Do you want to delete this teapot?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <%= link_to teapot_path(@teapot), class: "text-decoration-none text-black teapot-edit" do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
        </div>

</div>
